.hero {
  position: relative;
  width: 100vw;
  min-height: 80vh;
  padding: 0.5rem 1rem;
  background: $c-fallback;
  color: $c-background;
}

.hero-bg {
  background: url('/images/hero.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background: red;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  // background: red;
}

.nav-list__item--title {
  display: inline;
  // background: blue;
}

.top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.top-nav__right {
  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
}

.hero-title {
  min-width: 80vw;
  margin: 0;
  // background: blue;
  font-size: 7rem;
  font-weight: 200;
  line-height: 7rem;
  text-align: center;
}

.hero-subtitle {
  margin: 0;
  // background: green;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}

.nav-list__item + .nav-list__item {
  margin-left: 1rem;
}
