// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-background: #fff;
$c-primary: #140e0e;
$c-body-link: #8c8c8c;
$c-border: rgba(140, 140, 140, 0.5);
$c-body-highlight: #f37f57;
$c-fallback: rgb(244, 128, 88);
$c-healine: #c26e57;
$c-overlay: rgba(244, 128, 88, 0.4);

// @import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'header';
@import 'main';
@import 'footer';
